######################################################################
# @Project      : Sanctuary
# @File         : .dockerignore
# @Description  : Specifies patterns to exclude files and directories
#                 from the Docker build context, improving build
#                 performance and minimizing image size by excluding
#                 unnecessary files.
#
# @Author       : Alan Szmyt
# @Date         : 2024-09-04
# @Version      : 1.0
######################################################################

# Ignore version control directories
.git/
.svn/
.hg/
.cvsignore

# Ignore all log files
*.log

# Node.js specific directories and files
node_modules/
npm-debug.log
yarn-error.log

# Python specific directories and files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Ignore configuration files that may contain sensitive information
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore directories created by virtual environments
venv/
ENV/
env/
.buildozer/

# Ignore IDE and text editor directories
.idea/
.vscode/
*.swp
*.bak
*.tmp
*~
.DS_Store

# Java specific directories and files
target/
*.class

# Ignore Docker volumes or bind mounts
volumes/

# Ignore common directory names that hold large files or are not needed
tmp/
cache/
logs/
extras/

# Ignore test, mock data, and examples directories
test/
tests/
mocks/
__mocks__/
example/
examples/

# Ignore build and release directories
release/
build/
dist/
out/

# Ignore user uploaded content from the production environment
uploads/

# Ignore secrets configuration files
secrets.yaml
secrets.json

# Miscellaneous files and directories
docker-compose.override.yml
*.tar
*.gz
*.bz2
*.zip

# Ignore GitLab CI configuration files.
.gitlab-ci.yml
*.md
test.*
flake.*
LICENSE
runner-setup
scripts

# Ignore devcontainer files.
.dockerignore
devcontainer.json
docker-compose.yml
Dockerfile
README.md
